/* Add your other styles here */

/* Input fields */
.input-field {
  display: inline-block;
  width: calc(33.33% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input-field.green-border {
  border-color: green;
}

/* Network Dropdown */
.network-dropdown {
  width: calc(33.33% - 10px);
  padding: 8px;
  background-color: #202123;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
}

/* Fetch Buttons */
.fetch-button {
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #202123;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Table Container */
.table-container {
  max-width: calc(100% - 40px); /* Adjust margin */
  overflow-x: auto;
  margin: 20px;
}

/* Table */
.balance-table {
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #202123;
  color: white;
  min-width: 100%;
  white-space: nowrap; /* Prevent table cell content from wrapping */
  overflow-x: scroll;
}

/* Table Headings */
.balance-table th {
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
  white-space: nowrap;
  background-color: #282a2c; /* Slightly lighter than #202123 */
  color: white;
}

/* Table Cells */
.balance-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
  white-space: nowrap;
}

/* Add more of your styles as needed */
